<h2>Social Media Feed</h2>

<!--
	Credit: https://stackoverflow.com/questions/9078157/is-there-a-way-automatically-to-resize-mediawiki-images-depending-on-screen-size
	https://www.mediawiki.org/wiki/Manual:Interface/Stylesheets
	MediaWiki:Common.css
	img { max-width:100%; height: auto; width: auto\9; /* ie8 */ }
-->

<div class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<youtube><%= youtubeVideoID %></youtube>
		</div>
		<div class="carousel-item">
			<!-- https://github.com/StarCitizenWiki/mediawiki-extensions-EmbedVideo -->
			{{#ev:twitch|progressivevictory}}
		</div>
		<div class="carousel-item">
			<div class="card">
				<% if (instagramType === 'IMAGE') { %>
				<div class="card-img-top ig-card">
					<!-- This will be filled in from MediaWiki:Common.css -->
				</div>
				<% } else { %>
				<div class="card-img-top">
					<!-- https://www.mediawikiwidgets.org/Video -->
					{{Video|url=<%= instagramVideo %>}}
				</div>
				<% } %>
				<div class="card-body">
					<h5 class="card-title">[<%= instagramLink %> <%= instagramTitle %>]</h5>
					<p class="card-text"><%= instagramDescription %></p>
				</div>
			</div>
		</div>
	</div>
</div>
